.App-header {
  color: #df354b;
  display: flex;
}

h1 {
  font-family: sans-serif;
  color: #df354b;
  font-style: normal;
  line-height: 20px;
  font-weight: 800;
  font-size: 20px;
  margin-top: 2rem;
}

.App-footer {
  text-align: center;
  font-family: sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 20px;
}

hr {
  border: 2px solid #df354b;
}

.App-body p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.form-horizontal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.form-group {
  display: flex;
  align-items: center;
}

.form-group label {
  margin-right: 10px;
}
