.Notifications {
  padding: 2rem;
  border: 2px dotted #df354b;
}

.Notifications ul li[data-priority="default"] {
  color: blue;
}

.Notifications ul li[data-priority="urgent"] {
  color: red;
}

.Notifications button {
  margin-top: 0;
}
