#CourseList {
  width: 100%;
  border-collapse: collapse;
}

#CourseList th,
#CourseList td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

#CourseList th {
  font-weight: bold;
  background-color: #f2f2f2;
}

#CourseList tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}
